/Patenpakminko/node_modules
/Patenpakminko/vendor
/Patenpakminko/.env
/Patenpakminko/.env.backup
/Patenpakminko/.env.production
/Patenpakminko/storage/*.key
/Patenpakminko/storage/pail
/Patenpakminko/public/build
/Patenpakminko/public/hot
/Patenpakminko/public/storage
/Patenpakminko/public/fonts-manifest.dev.json
/Patenpakminko/.phpunit.cache
/Patenpakminko/.phpunit.result.cache

*.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.cursor/
